body {
  background-color: #00248b;
}
.dictionary {
  display: flex;
  flex-direction: column;
  width: 900px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
}
.top {
  border: 1px dashed white;
  padding: 10px 15px;
  border-radius: 13px;
}
form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin: 30px 60px;
  font-size: 18px;
}
.hide {
  display: none;
}
label {
  color: white;
}
form input {
  border: 1px solid white;
  border-radius: 9px;
  box-shadow: 0 4px 10px #0004;
  height: 25px;
}
.anglu,
.lietuviu {
  margin-right: 40px;
}

.mygtukai {
  display: flex;
  gap: 10px;
}
.mygtukai > #save,
#reset,
#update_button,
#cancel_button {
  padding: 10px 20px;
  background-color: #51e0c0;
  border-radius: 15px;
  border: 1px solid;
  box-shadow: 0 4px 10px #0004;
}
.mygtukai > #save:hover,
#reset:hover,
#update_button:hover,
#cancel_button:hover,
.btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

h1 {
  text-align: center;
  color: white;
}

.titles {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  margin-top: 20px;
  border: 1px solid white;
  padding: 0px 15px;
  border-radius: 13px;
}
.english-title {
  padding-right: 150px;
  border-right: 1px white solid;
}
.lithuanian-tile {
  padding-left: 50px;
  padding-right: 180px;
  border-right: 1px white solid;
}
h2 {
  text-align: center;
}
.list {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  /* border: 1px white solid;
  border-radius: 9px; */
}
.ivestis {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  margin-top: 10px;
  border: 1px solid white;
  padding: 0px 15px;
  border-radius: 13px;
}
.actions {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  gap: 30px;
}
.btn {
  border: 1px black solid;
  border-radius: 9px;
  padding: 5px 10px;
  background-color: #51e0c0;
  color: black;
  font-size: 14px;
  opacity: 0;
  cursor: pointer;
}
.actions:hover > .btn {
  opacity: 1;
}

.lithuanian {
  margin-left: 100px;
}
